NANOPAY_TOKEN=YOURNANOPAYAPITOKEN
COINKGECKO_API_KEY= This should be your Coingecko API token...
STREAMERBOT_ACTION_ID= Right click on your Action in streamer.bot and copy/paste the ID
STREAMERBOT_ACTION_NAME= The name of the Action in streamer.bot
STREAMERBOT_URL= URL or your tunnel to streamer.bot
NANO_ADDRESS=YOURNANOWALLETADDRESS
REDIRECT_URL=REDIRECTADDRESSAFTERPAYMENTRECEIVED
STREAM_CHANNEL=YOURTWITCHCHANNEL